# Generics and functions defined in this package ##################################################

export(
  "RTestCase"                                 ,
  "RTestCollection"                           ,
  "setTestMethod"                             ,

  "xmlReadData_variable"                      ,
  "xmlReadData_image"                         ,
  "xmlReadData_vector"                        ,
  "xmlReadData_data.frame"                    ,
  "xmlReadData_list"                          ,
  "xmlReadData_text"                          ,
  "xmlRead.default"                           ,
  "xmlReadData_to_list"                       ,

  "xmlWriteContext"                           ,
  "xmlWriteSynopsis"                          ,
  "xmlWriteInputData"                         ,
  "xmlWriteTests"                             ,
  "xmlWriteTest"                              ,
  "xmlWriteTestFunction"                      ,
  "xmlWriteTestSpec"                          ,
  "xmlWriteData_data.frame"                   ,
  "xmlWriteData_vector"                       ,
  "xmlWriteData_variable"                     ,
  "xmlWriteTest_data.frame_cellbycell"        ,
  "xmlWriteTest_vector_elementbyelement"      ,
  "xmlWriteTest_list_nodebynode"              ,
  "xmlWriteTest_execution"                    ,
  "xmlFromList"                  ,

  "test_execution"                            ,
  "test_returnValue_any"                      ,
  "test_returnValue_variable"                 ,
  "test_returnValue_vector_elementbyelement"  ,
  "test_returnValue_data.frame_cellbycell"    ,
  "test_returnValue_data.frame_shape"         ,
  "test_returnValue_list_nodebynode"          ,
  "test_manualCheck_file"                     ,
  "test_manualCheck_confirmWindow"            ,
  "test_returnValue_image"            ,
  "systemInfo.packages"                       ,
  "systemInfo.RInst"                          ,
  "systemInfo.host"                           ,
  "package_md5"                  ,
  "normalizeDate"                             ,
  "htmlify_string"                            ,

  "test_fun"                  ,
  "arguments_creator"              ,
  "get_existence_of_fun"            ,

  "example_data_frame"              ,
  "example_image"                ,
  "example_list"                ,
  "example_list_large"              ,
  "example_vector"                ,
  "example_variable"              ,

  "expect_silent_RTest"              ,

  "RTest.execute"
)



# Packages which are imported (appearing in the Description->Imports enumeration) #################

import(
  "XML"                                      ,
  "testthat"                                 ,
  "base64"                                   ,
  "jsonlite"                                 ,
  "methods"                     ,
  "stringr"
)

importFrom(
  "stringr","str_extract")

importFrom(
    "tcltk", "tktoplevel", "tklabel", "tclVar", "tkgrid", "tkentry", "tkbutton", "tkdestroy",
    "tkfocus", "tclvalue")

importFrom(
  "magrittr","%>%")

importFrom("utils", "capture.output", "ls.str", "sessionInfo", "str",
             "tar"
)
importFrom("magick", "image_compare","image_read","image_write")
importFrom("glue", "glue","glue_collapse")
importFrom("rlang", "enquo", "quo_label", "eval_bare")
importFrom("utils", "packageVersion", "assignInNamespace")


# Exported classes and corresponding methods ######################################################

exportClasses(
  "RTestCollection"                          ,
  "RTestCase"
)

exportMethods(
  # RTestCollection -------------------------------------------------------------------------------
  "show"                                     ,
  "importTC"                                 ,
  "importTCsFromDir"                         ,
  "getTC"                                    ,
  "exec"                                     ,
  "getExecStates"                            ,
  "summary"                                  ,
  "writeExecSummary.html"                    ,
  "getRTM"                                   ,
  "getRTMInMatrixShape"                      ,

  # RTestCase -------------------------------------------------------------------------------------
  "show"                        ,
  "test"                   ,
  "generic"                   ,

  # Test Adapter
  "test.RTest.funct_01"

)
